.card {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #000000;
    width: 350px;
    height: 200px;
    text-align: center;
    font-size: 45px;
    display: flex;
    flex-direction: column;
}

.card .card__close-icon {
    text-align: right;
    cursor: pointer;
}